
<body class="dt-example dt-example-bootstrap">
	<section>
		<div ng-app="webApp">
			<div ng-controller="iterationCtrl" class="container">

				<table id="iterations" class="table table-striped table-bordered"
					cellspacing="0" width="100%">

					<thead>
						<tr>
							<th>Name</th>
							<th>Owner</th>
							<th>Start</th>
							<th>End</th>
							<th>Duration</th>
						</tr>
					</thead>

					<tr ng-repeat="x in iterations">
						<td>{{ x.name }}</td>
						<td>{{ x.owner.username }}</td>
						<td>{{ x.startDate | date : shortDate }}</td>
						<td>{{ x.endDate | date : shortDate }}</td>
						<td>{{ x.days }}</td>

						<td>
							<div>
								<button ng-click="save(x)">SAVE</button>
								<button ng-click="delete(x)">DELETE</button>
							</div>
						</td>
					</tr>

				</table>

				<button ng-click="open()">add</button>

			</div>
		</div>
	</section>



</body>
