
<body class="dt-example dt-example-bootstrap">
	<section>
		<div ng-app="webApp">

			<div ng-controller="userstoryCtrl" class="container">

				<table id="userstories" class="table table-striped table-bordered"
					cellspacing="0" width="100%">

					<thead>
						<tr>
							<th>Name</th>
							<th>Owner</th>
							<th>iteration</th>
						</tr>
					</thead>

					<tr ng-repeat="x in userstories">
						<td>{{ x.name }}</td>
						<td>{{ x.owner.username }}</td>
						<td>{{ x.iteration.name }}</td>

						<td>
							<div>
								<button ng-click="save(x)">SAVE</button>
								<button ng-click="delete(x)">DELETE</button>
							</div>
						</td>
					</tr>

				</table>
			<button ng-click="open()">add</button>
				<div ng-show="selected">Selection from a modal: {{ selected }}</div>

			</div>
			


		</div>

	</section>

</body>


